.navbar{
    position: relative;
    top: 0;
    width: 100%;
    background-color:rgb(53, 1, 194);
    backdrop-filter: blur(10px);
    z-index: 1000;
    transition: all 0.3s ease;
    padding: 1rem 0;
}
.nav-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    display: flex;
    align-items: center;
    font-size:1.5rem;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.nav-logo img {
margin-top: -15px;
width: 70px;
height: 70px;
border-radius: 60%;

}
.nav-menu {
display: flex;
list-style: none;
gap: 2rem;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    position: relative;
}
.nav-link:hover {
    color: lightblue;
}